* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
   background-image: url(https://images.unsplash.com/photo-1479064312651-24524fb55c0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGxpYnJhcnklMjBib29rcyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    }

h1, h2{
    color:black
}
    
    h1{
    font-size: 40px;
    margin-bottom: 20px;
}

h2{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
    color: darkslategray;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.bio-photo {
    margin-top: 30px;
    margin-left: 30px;
    float: right;
}

.bio-photo img{
    height: 250px;
    width: 200px;
    border-radius: 30px;
}